.picture {
    height: 600px;
    background: url('../img/register_form.jpg') no-repeat center;
    background-size: cover;
    overflow: hidden;
}
.mb-3 input {
    background-color: rgb(228, 227, 227);
}
.set2 {
    display: none;
}
.btn-register,
.icon {
    text-align: center;

    margin-left: 50%;
    transform: translate(-50%, 0%);
}
.form-control {
    border-radius: 15px;
}
.btn-register {
    font-weight: bold;
    background-color: rgb(60, 63, 245);
    color: black;
    border-radius: 50px;
    border: 2px solid rgb(3, 3, 3);
}
.btn-register:hover,
.btn-register:active {
    background-color: blue;
    color: white;
}
@media (max-width: 770px) {
    .icon i {
        font-size: 30px;
    }
}
@media (max-width: 530px) {
    .set1 {
        display: none;
    }
    .set2 {
        display: block;
    }
}
.name-register {
    font-family: math;
    color: rgb(34, 140, 238);
}
.title:hover {
    background-color: rgb(12, 85, 153);
}
.title:active {
    background-color: rgb(12, 85, 153);
    text-decoration: underline;
}
.nav-item {
    color: white;
}
.tab_active {
    background-color: rgb(12, 85, 153);
    border-radius: 5px;
}
@keyframes moveicon {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.25);
    }
}
@keyframes movepicture {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
        opacity: 0.8;
    }
}
.icon i:hover {
    animation-name: moveicon;
    animation-duration: 0.5s;
    transition-timing-function: ease-out;
}
.picture:hover {
    animation-name: movepicture;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
