.btn_restore {
  float: left;
  display: block;
}

.btn_call {
  width: 50px;
  float: right;
  margin-right: 5px;
  display: block;
}

.btn_leave {
  width: 50px;
  float: right;
  margin-right: 5px;
  display: block;
}

.btn_showList {
  width: 50px;
  float: right;
  margin-right: 5px;
  display: block;
}

.btn_edit {
  width: 50px;
  float: right;
  margin-right: 5px;
  display: block;
}

.container-fluid .row .col-6 h3 {
  font-family: math;
  color: #228cee;
}

.container-fluid .row .col-3 h3 {
  text-align: center;
  font-family: math;
  color: #228cee;
}

.detail_message {
  border: 2px solid #feffff;
  background-color: #f9fafc;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #d4e3f9;
  background-color: #d4e3f9;
}

/* Clear floats */
.detail_message::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.detail_message img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.detail_message img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Style time text */
.name-right {
  float: right;
  color: #aaa;
}

.message-right {
  float: right;
}

.name-left {
  float: left;
  color: #0c0c0c;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.time-right {
  float: right;
  color: #aaa;
}

.content_message {
  height: 420px;
  overflow: auto;
}

.room-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.room-upload .room-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.room-upload .room-edit input {
  display: none;
}
.room-upload .room-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  margin-bottom: 0;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.room-upload .room-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.room-upload .room-edit input + label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.room-upload .room-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.room-upload .room-preview > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.detail_member {
  border: 2px solid #fefeff;
  background-color: #f9fafc;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
}

/* Clear floats */
.detail_member::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.detail_member img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.btn_delete_member, .btn_add_admin {
  float: right;
  margin: 2px;
}

/*# sourceMappingURL=detail.css.map */
