
<div class='container-fluid' style='padding:0'>
    <div id='slider' class='carousel slide' data-bs-ride='carousel'>
        <!-- Indicators/dots -->
       
        <div class='carousel-indicators'>
            <button
                type='button'
                data-bs-target='#slider'
                data-bs-slide-to='0'
            ></button>
            <button
                type='button'
                data-bs-target='#slider'
                data-bs-slide-to='1'
                class='active'
            ></button>
            <button
                type='button'
                data-bs-target='#slider'
                data-bs-slide-to='2'
            ></button>
        </div>
        <!-- The slideshow/carousel -->
        <div class='carousel-inner'>
            <div class='carousel-item active' data-interval='1'>
                <img
                    src='/img/home4.jpeg'
                    alt='Picture1'
                    class='d-block'
                />  
                <div class="absolute-div">
                        <div class="carousel-caption">
                            <h1>ROOM</h1>
                            <br>
                            <p>ROOM là một ứng dụng để gọi và gửi tin nhắn trực tiếp. Hỗ trợ mọi người trong học tập, hội họp và mọi thứ nếu bạn sử dụng tốt.</p>
                            <br>
                            <div>
                                <a  href='/me/create'><button type="button" class="btn btn-danger">Tạo phòng họp</button></a>
                                <a  href='/me/join'><button type="button" class="btn btn-danger">Tham gia phòng họp</button></a>
                            </div>
                        </div>
                    </div>
            </div>
            <div class='carousel-item' data-interval='1'>
                <img
                    src='/img/home1.jpg'
                    alt='Picture2'
                    class='d-block'
                />
                 <div class="absolute-div">
                        <div class="carousel-caption">
                            <h1>ROOM</h1>
                            <br>
                            <p>ROOM là một ứng dụng để gọi và gửi tin nhắn trực tiếp. Hỗ trợ mọi người trong học tập, hội họp và mọi thứ nếu bạn sử dụng tốt.</p>
                            <br>
                            <div>
                                <a  href='/me/create'><button type="button" class="btn btn-danger">Tạo phòng họp</button></a>
                                <a  href='/me/join'><button type="button" class="btn btn-danger">Tham gia phòng họp</button></a>
                            </div>
                        </div>
                    </div>
            </div>
            <div class='carousel-item' data-interval='1'>
                <img
                    src='/img/home3.jpg'
                    alt='Picture3'
                    class='d-block'
                />
                 <div class="absolute-div">
                        <div class="carousel-caption">
                            <h1>ROOM</h1>
                            <br>
                            <p>ROOM là một ứng dụng để gọi và gửi tin nhắn trực tiếp. Hỗ trợ mọi người trong học tập, hội họp và mọi thứ nếu bạn sử dụng tốt.</p>
                            <br>
                            <div>
                                <a  href='/me/create'><button type="button" class="btn btn-danger">Tạo phòng họp</button></a>
                                <a  href='/me/join'><button type="button" class="btn btn-danger">Tham gia phòng họp</button></a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button
            class='carousel-control-prev'
            type='button'
            data-bs-target='#slider'
            data-bs-slide='prev'
        >
            <span class='carousel-control-prev-icon'></span>
        </button>
        <button
            class='carousel-control-next'
            type='button'
            data-bs-target='#slider'
            data-bs-slide='next'
        >
            <span class='carousel-control-next-icon'></span>
        </button>
    </div>
</div>
<div></div>