<footer class='pt-5 bg-dark' style='height: auto;'>
    <div class='container-fluid'>
        <div class='row text-center'>
            <div class='col text-white'>
                <div>
                    <bold style='color: #0d6efd;'>Đề tài: Phòng họp trực tuyến</bold>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <p>Giảng viên hướng dẫn :</p>
                        </div>
                        <div class="col-6">
                            <p>Ths. Mai Văn Hà </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p>Sinh viên thực hiện:</p>
                        </div>
                        <div class="col-6">
                            <p>Phan Văn Bình </p>
                            <p>Nguyễn Thanh Cơ</p>
                            <p>Lê Văn Huy</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col h3' style='color: rgb(83, 83, 233);'>
                ROOM
            </div>
            <div class='col text-center'>
                <i
                class='fab fa-facebook fa-lg'
                style='color: rgb(8, 8, 102);'
                ></i>
                <i
                    class='fab fa-instagram fa-lg ms-2'
                    style='color: rgb(245, 6, 77);'
                ></i>
                <i
                    class='fab fa-docker fa-lg ms-2'
                    style='color: rgb(34, 140, 238);'
                ></i>
                <i
                    class='fab fa-twitter fa-lg ms-2'
                    style='color: rgb(34, 116, 238);'
                ></i>
                <i class='fab fa-linkedin fa-lg ms-2' style='color: blue;'></i>
                <hr>
                <div class="row text-center text-white">
                   <p> ROOM là một ứng dụng để gọi và gửi tin nhắn trực tiếp. Hỗ trợ mọi người trong học tập, hội họp và mọi thứ nếu bạn sử dụng tốt.</p> 
                </div>
            </div>
        </div>
    </div>
</footer>